In [1]:
from forecasting import prophet_forecast
import pandas as pd

In [2]:
# Daily data example (data will be of this format)

df = pd.read_csv('https://raw.githubusercontent.com/facebook/prophet/main/examples/example_wp_log_peyton_manning.csv')
df.head()

           ds         y
0  2007-12-10  9.590761
1  2007-12-11  8.519590
2  2007-12-12  8.183677
3  2007-12-13  8.072467
4  2007-12-14  7.893572

In [3]:
df_output = prophet_forecast(df, 52)

11:38:26 - cmdstanpy - INFO - Chain [1] start processing
11:38:27 - cmdstanpy - INFO - Chain [1] done processing

In [4]:
df_output.head()

          ds      yhat  yhat_lower  yhat_upper
0 2007-12-10  8.842664    8.202643    9.423733
1 2007-12-11  8.591245    7.992981    9.201186
2 2007-12-12  8.387085    7.814465    9.000440
3 2007-12-13  8.365020    7.738833    8.958702
4 2007-12-14  8.353007    7.774330    8.955586